<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Age</th>
    <th>Email</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <th><%= user.id %></th>
      <th><%= user.name %></th>
      <th><%= user.age %></th>
      <th><%= user.mail_id %></th>
        <th><li><a href="/users/<%= user.id %>">View</a></li></th>
        <th><li><a href="/users/<%= user.id %>/edit">Edit</a></li></th>
        <th><%= link_to "Delete", user_path(user), data: { method: :delete } %></th>
    </tr>
  <% end %>
</table>

<%= form_with url: "/users", method: :get do |form| %>
  <%= form.label :query, "Search for:" %>
  <%= form.text_field :query %>
  <%= form.submit "Search" %>
<% end %>